Compare nFR/SE between EN and EB groups with wilcox testing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

nfr = pd.read_csv('../result/Anti/nFR/nfr_df.tsv', sep='\t', index_col=0, header=0)
se = pd.read_csv('../result/Anti/SE/se_df.tsv', sep='\t', index_col=0, header=0)
p_cutoff = 0.05

In [8]:
import pandas as pd
from scipy.stats import mannwhitneyu

def compare_groups(df, title, col, g1, g2):
    
    anti = pd.read_csv("../data/Anti/Anti.group.tsv", sep="\t")
    
    sample_g1 = anti.loc[anti[col] == g1]["sample_id"]
    sample_g2 = anti.loc[anti[col] == g2]["sample_id"]
    
    p_values = []
    cluster_names = []
    enriched_groups = []
    mean_g1 = []
    mean_g2 = []
    for col in df.columns:
        values_g1 = df[col][sample_g1]
        values_g2 = df[col][sample_g2]
        _, p_value = mannwhitneyu(values_g1, values_g2)
        p_values.append(p_value)
        cluster_names.append(col)
        
        if values_g1.mean() > values_g2.mean():
            enriched_groups.append(g1)
        else:
            enriched_groups.append(g2)
        
        mean_g1.append(values_g1.mean())
        mean_g2.append(values_g2.mean())
    
    result = pd.DataFrame({"FR": [title] * len(cluster_names), 
                           "Group1": [g1] * len(cluster_names), 
                           "Group2": [g2] * len(cluster_names), 
                           "Cluster": cluster_names, 
                           "p_value": p_values,
                           "enriched": enriched_groups,
                           "mean_g1": mean_g1,
                           "mean_g2": mean_g2})
    return result

In [16]:
testing_results = pd.DataFrame()


testing_results = pd.concat([testing_results, compare_groups(nfr, "nFR", "ECC_day", "EB_0", "EN_0")])
testing_results = pd.concat([testing_results, compare_groups(nfr, "nFR","ECC_day", "EB_7", "EN_7")])
testing_results = pd.concat([testing_results, compare_groups(nfr, "nFR","ECC_day", "EB_90", "EN_90")])
significant_results = testing_results[testing_results["p_value"] < p_cutoff]

significant_results.to_csv("../result/Anti/nFR/nfr.EB_EN.differential.tsv",sep="\t",index=False)
significant_results

   title Group1 Group2          Cluster   p_value enriched   mean_g1   mean_g2
0    nFR   EB_7   EN_7    cluster_S1-C1  0.004740     EB_7  0.466684  0.412900
9    nFR   EB_7   EN_7   cluster_S1-C10  0.015680     EN_7  0.000000  0.298963
36   nFR   EB_7   EN_7    cluster_S3-C1  0.014771     EB_7  0.469907  0.058714
58   nFR   EB_7   EN_7  supercluster_S3  0.033909     EB_7  0.465771  0.113759
0    nFR  EB_90  EN_90    cluster_S1-C1  0.031997    EN_90  0.425781  0.471567
3    nFR  EB_90  EN_90    cluster_S1-C4  0.038867    EB_90  0.210848  0.035044
58   nFR  EB_90  EN_90  supercluster_S3  0.048583    EB_90  0.255766  0.000000

In [17]:
testing_results = pd.DataFrame()


testing_results = pd.concat([testing_results, compare_groups(se, "SE", "ECC_day", "EB_0", "EN_0")])
testing_results = pd.concat([testing_results, compare_groups(se, "SE","ECC_day", "EB_7", "EN_7")])
testing_results = pd.concat([testing_results, compare_groups(se, "SE","ECC_day", "EB_90", "EN_90")])
significant_results = testing_results[testing_results["p_value"] < p_cutoff]

significant_results.to_csv("../result/Anti/SE/SE.EB_EN.differential.tsv",sep="\t",index=False)
significant_results

   title Group1 Group2         Cluster   p_value enriched   mean_g1   mean_g2
0     SE   EB_7   EN_7   cluster_S1-C1  0.013467     EB_7  0.329909  0.099676
7     SE   EB_7   EN_7   cluster_S1-C8  0.041478     EN_7  0.014030  0.110772
36    SE   EB_7   EN_7   cluster_S3-C1  0.029602     EB_7  0.004278  0.000450
16    SE  EB_90  EN_90  cluster_S1-C17  0.011642    EB_90  0.000156  0.000000
34    SE  EB_90  EN_90   cluster_S2-C7  0.048583    EB_90  0.000187  0.000000
36    SE  EB_90  EN_90   cluster_S3-C1  0.048583    EB_90  0.000014  0.000000